@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Playfair+Display:wght@700&display=swap');
@import "tailwindcss";

@theme{ 
  --color-accent: #fa812f;
  --color-primary: #fef3e2;
  --color-secondary: #393e46;
}